@model TechMove.Models.DTOs.ClientDashboardFrontendDto


<h1>Welcome back, @Model.Name</h1>
<h3>Here's your current contract </h3>
<table class="table">
    <thead>
        <tr>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Status
            </th>
            <th>
                ServiceLevel
            </th>
            <th>
                SignedAgreement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceLevel)
                </td>
                <td>
                    <a class="btn btn-outline-dark"
                       asp-controller="ClientContracts"
                       asp-action="DownloadAgreement"
                       asp-route-id="@item.Id">
                        Download
                    </a>

                </td>
                <td>
                    <a class="btn btn-dark"
                       asp-controller="ServiceRequests"
                       asp-action="Create"
                       asp-route-contractId="@item.Id">
                        Create Service Request
                    </a> |
                    <a class="btn btn-dark"
                       asp-controller="ClientContracts"
                       asp-action="UploadAgreement"
                       asp-route-id="@item.Id">
                        Upload Agreement
                    </a>
                </td>
                </tr>                
            
            

            <tr class="serviceRequestContainer">

                <td>
                    @if (item.ServiceRequests != null)
                    {
                        <h2>Your Service requests</h2>
                        <ul>
                            @foreach (var request in item.ServiceRequests)
                            {
                                <li>
                                    @request.ServiceName - @request.Status 
                                </li>
                            }
                        </ul>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
