@model IEnumerable<TechMove.Models.Domain.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class="mb-3">
    <div class="searchContainer">
        <label>Status</label>
        <input type="text" name="status" value="@Context.Request.Query["status"]" placeholder="Search status..." class="form-control" />
        <label>Date</label>
        <input type="date" name="startDate" value="@Context.Request.Query["startDate"]" placeholder="Search start date..." class="form-control" />
        <label>Range</label>
        <input type="date" name="endDate" value="@Context.Request.Query["endDate"]" placeholder="Search end date..." class="form-control" />

        <a asp-action="Index" class="btn clearSearchButton">Clear</a>
        <button type="submit" class="btn SearchButton">Search</button>
    </div>
    <br />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedAgreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLevel)
            </td>
            <td>
                    <a href="@Html.DisplayFor(modelItem => item.SignedAgreement)" download="@Html.DisplayFor(modelItem => item.SignedAgreement)">download</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
